<H3><header>Wecome to Tiny URL App</header></H3>
<% if(user_id) { %>
<form method="POST" action=/logout>
<button type="delete">Logout</button></form>
<% } else { %>
<h9><button><a href="/register">Register here</a></button></h9>
<h9><button><a href="/login">Or Login here</a></button></h9>
<% } %>
