<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<header>Wecome to Tiny URL App</header>
<% if (username) { %>
<form method="POST" action=/logout>
<h7>Welcome, <%= username %></h7>
<button type="delete">Logout</button></form>
<% } else { %>
<form method="POST" action=/login>
<label for="username">Username:</label>
      <input id="username" type="text" name="username" placeholder="Enter your username here" style="width: 150px">
      <input type="submit" value="Submit">
</form>
=======
<H3><header>Wecome to Tiny URL App</header></H3>
<% if(user_id) { %>
<form method="POST" action=/logout>
<button type="delete">Logout</button></form>
<% } else { %>
<h9><button><a href="/register">Register here</a></button></h9>
<h9><button><a href="/login">Or Login here</a></button></h9>
>>>>>>> feature/user-registration
<% } %>
